:root {
  /* Green Colors */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #b9f8cf;
  --green-300: #7bf1a8;
  --green-400: #05df72;
  --green-500: #00c950;
  --green-600: #00a63e;
  --green-700: #008236;
  --green-800: #016630;
  --green-900: #0d542b;
  --green-950: #032e15;

  /* Red Colors */
  --red-50: #fef2f2;
  --red-100: #ffe2e2;
  --red-200: #ffc9c9;
  --red-300: #ffa2a2;
  --red-400: #ff6467;
  --red-500: #fb2c36;
  --red-600: #e7000b;
  --red-700: #c10007;
  --red-800: #9f0712;
  --red-900: #82181a;
  --red-950: #460809;

  /* Orange Colors */
  --orange-50: #fff7ed;
  --orange-100: #ffedd4;
  --orange-200: #ffd6a7;
  --orange-300: #ffb86a;
  --orange-400: #ff8904;
  --orange-500: #ff6900;
  --orange-600: #f54900;
  --orange-700: #ca3500;
  --orange-800: #9f2d00;
  --orange-900: #7e2a0c;
  --orange-950: #441306;

  /* Gray Colors */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5dc;
  --gray-400: #99a1af;
  --gray-500: #6a7282;
  --gray-600: #4a5565;
  --gray-700: #364153;
  --gray-800: #1e2939;
  --gray-900: #101828;
  --gray-950: #030712;

  /* Pink Colors */
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fccee8;
  --pink-300: #fda5d5;
  --pink-400: #fb64b6;
  --pink-500: #f6339a;
  --pink-600: #e60076;
  --pink-700: #c6005c;
  --pink-800: #a3004c;
  --pink-900: #861043;
  --pink-950: #510424;

  /* Blue Colors */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bedbff;
  --blue-300: #8ec5ff;
  --blue-400: #51a2ff;
  --blue-500: #2b7fff;
  --blue-600: #155dfc;
  --blue-700: #1447e6;
  --blue-800: #193cb8;
  --blue-900: #1c398e;
  --blue-950: #162456;

  /* Purple Colors */
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d4ff;
  --purple-300: #dab2ff;
  --purple-400: #c27aff;
  --purple-500: #ad46ff;
  --purple-600: #9810fa;
  --purple-700: #8200db;
  --purple-800: #6e11b0;
  --purple-900: #59168b;
  --purple-950: #3c0366;

  /* Yellow Colors */
  --yellow-50: #fefce8;
  --yellow-100: #fef9c2;
  --yellow-200: #fff085;
  --yellow-300: #ffdf20;
  --yellow-400: #fdc700;
  --yellow-500: #f0b100;
  --yellow-600: #d08700;
  --yellow-700: #a65f00;
  --yellow-800: #894b00;
  --yellow-900: #733e0a;
  --yellow-950: #432004;
}