.node {
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease; // thêm mượt mà
    width: 150px;
    font-size: 0.75rem;

    &-chung {
        background-color: var(--blue-50);
        border-color: var(--blue-400);

        &:hover {
            background-color: var(--blue-200);
            border-color: var(--blue-500);
        }
    }

    &-hong {
        background-color: var(--red-50);
        border-color: var(--red-400);

        &:hover {
            background-color: var(--red-200);
            border-color: var(--red-500);
        }
    }

    &-waiting {
        background-color: var(--gray-50);
        border-color: var(--gray-400);
        font-style: italic;
        color: var(--gray-600);

        &:hover {
            background-color: var(--gray-200);
            border-color: var(--gray-500);
        }
    }
}

.node-won {
    background-color: var(--yellow-50);
    border: 2px solid var(--yellow-400);
    padding: 6px;
    border-radius: 12px;
}

.node-container {
    display: flex;
    align-items: center;
    gap: 8px;
}