.node {
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease; // thêm mượt mà
    width: 150px;

    &:hover {
        background-color: var(--yellow-200);
        border-color: var(--yellow-500);
    }

    &:active {
        background-color: var(--yellow-300); // màu khi nhấn
        border-color: var(--yellow-600);
        transform: scale(0.95); // hiệu ứng thu nhỏ nhẹ khi nhấn
    }
}

.node-won {
    background-color: var(--yellow-50);
    border: 2px solid var(--yellow-400);
    padding: 6px;
    border-radius: 12px;
}